@{
    ViewData["Title"] = "Raffle Result";
}

@model Entry

<h1>Raffle Result</h1>
<h3>Name: @Model.FullName (@Model.Age)</h3>
<h3>Horoscope: @Model.Horoscope</h3>
<p>Introduction: @Model.Introduction</p>


